/****************** NAVBAR *****************/

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
}

.nav-link {
    color: white !important;
    letter-spacing: 0.3rem;
}

.nav-link:hover {
    opacity: .5;
}

/****************** SECTION-1 *****************/

.section-1 {
    height: 100vh;
    background-image: url('../images/modern-building.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-1 > .title-wrapper {
    position: absolute;
    width: 800px;
    top: 20%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section-1 > .title-wrapper > .page-title-wrapper {
    color: rgb(212, 212, 212);
    text-align: center;
}

.section-1 > .title-wrapper > .page-desc-wrapper {
    margin-left: 141px;
}

h1.page-title {
    color: white;
    font-size: 82px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .65rem;
}

h4.page-desc {
    color: white;
}

/****************** SECTION-2 *****************/

.section-2 {
    color: rgb(70, 70, 70);
}

.section2-desc-wrapper {
    text-align: center;
}

.section2-desc-wrapper > h1 {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bolder;
}

.section2-desc-wrapper > .desc-body {
    font-size: 1.2rem;
    font-family: 'Spectral', Arial, Helvetica, sans-serif;
}

/****************** SECTION-2 *****************/

.section-3 {
    position: relative;
    height: 50vh;
    background-image: url('../images/white-flower.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-3 > .title-wrapper {
    /* width: 300px; */
    /* position: absolute;
    top: 15%;
    left: 30%; */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateX(-50%);
    
}

.section-3 > .title-wrapper > .page-title {
    text-align: center;
    font-size: 30px;
    letter-spacing: normal;
}
