/****************** NAVBAR *****************/

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
}

.nav-link {
    color: white !important;
    letter-spacing: 0.1em;
}

.nav-link:hover {
    opacity: .5;
}

/****************** SECTION-1 *****************/

.section-1 {
    height: 100vh;
    background-image: url('../images/modern-building.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-wrapper {
    position: absolute;
    width: 800px;
    top: 20%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.page-title-wrapper {
    color: rgb(212, 212, 212);
    text-align: center;
}

h1.page-title {
    font-size: 82px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .65rem;
}

.page-desc-wrapper {
    margin-left: 141px;
    color: white;
}

h4.page-desc {
    color: white;
}

/****************** SECTION-2 *****************/


.section-2 {
    text-align: center;
    padding: 3%;
    color: rgb(70, 70, 70);

}

.section-2 > h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bolder;
}

.section-2 > .desc-wrapper {
    margin: auto;
    width: 85%;
    font-size: 1.1rem;
}